.form {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #b6b2b2;
    padding: 10px;
}

.fl_left {
    float: left;
}

.input {
    width: 260px !important;
}

@media (min-width:400px) {
    .form {
        padding: 25px;
    }
}